<!DOCTYPE html>
<html ng-app='herdlyApp'>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<title>Herd.ly!</title>
</head>

<body>
	<div class="container" ng-controller="QueryController">
		<div class="top-wrap">
		  <img src="http://67.media.tumblr.com/21dd461b7a478dda503cba3142b1b96e/tumblr_mk16gs0MGR1rvjqm6o1_1280.jpg">
			<h1>Herd.ly</h1>
			<form>
				<input ng-model="newUser"><button class="submit" ng-click="generateLyric()">submit</button>
			</form>

		Welcome, {{ newUser }}  {{ 50 + 50 }}
		</div>
		<div class="lyric-instance" ng-repeat="track in fakeLyricBase" ng-click="favLyric()">
			<td>"{{track.lyric}}"</td>
			<td>// {{track.title}}</td>
			<td>// by: {{track.artist}}</td>
			<button ng-click="favLyric()">fav this thing!</button>
		</div>

	</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="controllers/queryController.js"></script>
</body>
</html>